<div class="classAll">

        <div class="w"> My Profile </div>
        <div class="gr">
            <div></div>
            <img src={{url}} class="cr"  height="150px" width="150px">
        </div>
        <div class="grrow">
            <div></div>
            <div class="grg">
                <div>First name:</div>
                
                <div>{{fn}}</div>
                <div></div>
            </div>

            <div></div>
            <div class="grg">
                <div>Last name:</div>
                <div>{{ln}}</div>
                <div></div>
            </div>

            <div></div>
            <div class="grg">
                <div>Phone:</div>
                <div>{{ph}}</div>
                <div></div>
            </div>

            <div></div>
            <div class="grg">
                <div>Gender:</div>
                <div>{{gn}}</div>
                <div></div>
            </div>

            <div></div>
            <div class="grg">
                <div>E-mail:</div>
                <div>{{em}}</div>
                <div></div>
            </div>

            <div></div>
            <div class="grg">
                <div>Birth Day:</div>
                <div>{{bd}}</div>
                <div></div>
            </div>

        </div>
</div>
